{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1><a href="{% url 'anime_list' %}">Anime</a></h1>

<div>
    {% thumbnail anime.image "200x200" format="PNG" as im  %}
        <img class="bookcover" src="{{  im.url }}" alt="{{ anime.title }}">
    {% endthumbnail %}
    <h2><a href="">{{ anime.title }}</a></h2>
    {% for genre in anime.genres.all %}
    <h2><a href="">{{ genre }}</a></h2>
    {% endfor %}
    {% for studio in anime.studio.all %}
    <h2><a href="">{{ studio.studio }}</a></h2>
    {% endfor %}
    <h2><a href="">{{ anime.type }}</a></h2>
    <h2><a href="">{{ anime.episodes }}</a></h2>
</div>


{% endblock content %}