{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}{{ anime.item.original_name }}{% endblock title %}
{% block content %}


<div id='manga-detail'>
    <div class='main-info'>
        <div class="upper-image">
            {% if anime.image %}
            <img src="{{ anime.image.url }}" alt="{{ anime.title.original_name }}">
            {% else %}
            <img src="{% static 'img/no-image.png' %}" alt="{{ anime.title.original_name}}">
            {% endif %}
        </div>
        <div class="title-block">
            <div class="title-block2">
                <div class="main-image">
                    {% if anime.image %}
                    <img class='img2' src="{{ anime.image.url }}" alt="{{  anime.title.original_name }}">
                    {% else %}
                    <img class='img2' src="{% static 'img/no-image.png' %}" alt="{{  anime.title.original_name }}">
                    {% endif %}
                </div>
                <div class='title'>
                    {% with anime.title as name %}
                    <h4 class="main-title">{{name.original_name }}</h4>
                    <h2>{{name.russian_name }}</h2>
                    <h1>{{name.english_name }}</h1>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="items">
            <div class="name">Автор</div>
            <div class="item-list">
                <a class='item' href=""><span>{{ anime.author }}</span></a>
            </div>
        </div>
        <div class="items">
            <div class="name">Тип</div>
            <div class="item-list">
                <a class='item' href=""><span>{{ anime.type }}</span></a>
            </div>
        </div>
        <div class="items">
            <div class="name">Демография</div>
            <div class="item-list">
                <a class='item' href=""><span>{{anime.source.demographic }}</span></a>
            </div>
        </div>
        <div class="items">
            <div class="name">Студия</div>
            <div class="item-list">
                {% for name in anime.studio.all %}
                <a class='item' href="">
                    <span>
                        {{ name }}
                    </span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="items">
            <div class="name">Эпизоды</div>
            <div class="item-list">
                <a class='item' href=""><span>{{ anime.episodes}} </span></a>
            </div>
        </div>
        <div class="items">
            <div class="name">Жанры</div>
            <div class="item-list">
                {% for name in anime.genres.all %}
                <a class='item' href=""><span>{{ name}}</span></a>
                {% endfor %}
            </div>
        </div>
        <div class="items">
            <div class="name">Темы</div>
            <div class="item-list">
                {% for name in anime.themes.all %}
                <a class='item' href=""><span>{{ name}}</span></a>
                {% endfor %}
            </div>
        </div>
        <div class="items">
            <div class="name">Дата выхода</div>
            <div class="item-list">
                <a class='item' href=""><span>{{ anime.premiere}}</span></a>
            </div>
        </div>
    </div>
    <div class="desc">
        <div class="name">Описание</div>
        <p>{{anime.get_desc|linebreaks}}</p>
  
    </div>
</div>


{% endblock content %}