{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}Anime{% endblock title %}
{% block content %}
{% block search %}

{% endblock search %}

<hr>
<div id='manga-list'>
{% for anime in list %}
<div class='manga-item'> 
    <a class='title' href="{% url 'anime_detail' anime.pk %}">
    <span>{{ anime.title.original_name }}</span>
    </a>
    <div class='cover'>
    <a class='test' href="{% url 'anime_detail' anime.pk %}">
        {% if anime.image %}
        {% thumbnail anime.image "600x600" format="PNG" as im  %}
        <img class="mangaimg" src="{{  im.url }}" alt="{{ anime.item.original_name }}">
        {% endthumbnail %}
        {% else %}
        <img class="mangaimg" src="{% static 'img/no-image.png' %}" alt="{{ anime.item.original_name }}">
        {% endif %}
    </a>
</div>
</div>

{% endfor %}
</div>
{% endblock content %}