[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.0.1"
psycopg2-binary = "*"
django-allauth = "*"
pillow = "*"
sorl-thumbnail = "*"
djangorestframework = "*"
drf-writable-nested = "*"
django-cors-headers = "*"
django-cleanup = "*"
django-embed-video = "*"
django-debug-toolbar = "*"
coverage = "*"
redis = "*"
jsonschema = "*"
faker = "*"
django-silk = "*"
django-debug-toolbar-force = "*"

[dev-packages]

[requires]
python_version = "3.10"
