{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Anime{% endblock title %}
{% block content %}
<h1><a href="">Manga</a></h1>
<div id='manga-list'>
{% for manga in list %}
<div class='manga-item'>
    <a href="{% url 'manga_detail' manga.pk %}">
    {% thumbnail manga.image "400x400" format="PNG" as im  %}
        <img class="mangaimg" src="{{  im.url }}" alt="{{ manga.title }}">
        <p>{{ manga.title }}</p>
    </a>
    {% endthumbnail %}
</div>
{% endfor %}
</div>
{% endblock content %}