{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}{{ manga.title }}{% endblock title %}
{% block content %}


<div id='manga-detail'>
    <div class='main-info'>
        <div class="upper-image">
            {% if manga.image %}
            <img src="{{ manga.image.url }}" alt="{{ manga.title.original_name }}">
            {% else %}
            <img src="{% static 'img/no-image.png' %}" alt="{{ manga.title.original_name }}">
            {% endif %}
        </div>
        <div class="title-block">
            <div class="title-block2">
                <div class="main-image">
                    {% if manga.image %}
                        <img class='img2' src="{{ manga.image.url }}" alt="{{ manga.title.original_name }}">
                        {% else %}
                        <img class='img2' src="{% static 'img/no-image.png' %}" alt="{{ manga.title.original_name }}">
                        {% endif %}
                </div>
                <div class='title'>
                    {% with manga.title as name %}
                    <h4 class="main-title">{{name.original_name }}</h4>
                    <h2>{{name.russian_name }}</h2>
                    <h1>{{name.english_name }}</h1>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        {% if manga.author %}
        <div class="items">
            <div class="name">Автор</div>
            <div class="item-list">
                <a class='item' href=""><span>{{ manga.author }}</span></a>
            </div>
        </div>
        {% endif %}
        {% if manga.type %}
        <div class="items">
            <div class="name">Тип</div>
            <div class="item-list">
                <a class='item' href=""><span>{{ manga.type }}</span></a>
            </div>
        </div>
        {% endif %}
        {% if manga.demographic %}
        <div class="items">
            <div class="name">Демография</div>
            <div class="item-list">
                <a class='item' href=""><span>{{ manga.demographic }}</span></a>
            </div>
        </div>
        {% endif %}
        {% if manga.publisher.all %}
        <div class="items">
            <div class="name">Издатель</div>
            <div class="item-list">
                {% for name in manga.publisher.all %}
                <a class='item' href="">
                    <span>
                        {{ name }}
                    </span>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if manga.magazine.all %}
        <div class="items">
            <div class="name">Журнал</div>
            <div class="item-list">
                {% for name in manga.magazine.all %}
                <a class='item' href=""><span>{{ name}}</span></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if manga.genre.all %}
        <div class="items">
            <div class="name">Жанры</div>
            <div class="item-list">
                {% for name in manga.genre.all %}
                <a class='item' href=""><span>{{ name}}</span></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if manga.theme.all %}
        <div class="items">
            <div class="name">Темы</div>
            <div class="item-list">
                {% for name in manga.theme.all %}
                <a class='item' href=""><span>{{ name}}</span></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if manga.volumes or manga.chapters %}
        <div class="items">
            <div class="name">Издано</div>
            <div class="item-list">
                <a class='item' href=""><span>{% if manga.volumes  %}
                    {{ manga.volumes}} томов 
                    {% endif %}
                    {% if manga.chapters %}
                    {{ manga.chapters}} главы
                    {% endif %}
                </span></a>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="desc">
        <div class="name">Описание</div>
        <p>{{manga.get_desc|linebreaks}}</p>
    </div>
    {% if  manga.related.post.all %}
    <div class="related-blog">
        <div class="name">Блог</div>
        <div id='manga-list'>
            {% for manga in manga.related.post.all %}
            <div class='manga-item'> 
                <a class='title' href="">
                <span>{{ manga.title }}</span>
                </a>
                <div class='cover'>
                <a class='test' href="{% url 'post_detail' manga.pk %}">
                    {% if manga.main_image %}
                    {% thumbnail manga.main_image "600x600" format="PNG" as im  %}
                    <img class="mangaimg" src="{{  im.url }}" alt="{{ manga.title }}">
                    {% endthumbnail %}
                    {% else %}
                    <img class="mangaimg" src="{% static 'img/no-image.png' %}" alt="{{ manga.title }}">
                    {% endif %}
                </a>
            </div>
        </div>
            {% endfor %}
    </div>
    {% endif %}
</div>




{% endblock content %}