{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link href='{% static "css/base.css" %}' rel="stylesheet">
</head>

<body>
  <div id="header">
    <span class="logo">My blog</span>
    <ul class="menu">
      <li {% if section == "blog" %}class="selected" {% endif %}>
        <a href="{% url 'post_list'  %}">Blog</a>
      </li>
      <li {% if section == "anime" %}class="selected" {% endif %}>
        <a href="{% url 'anime_list'  %}">Anime</a>
      </li>
      <li {% if section == "manga" %}class="selected" {% endif %}>
        <a href="{% url 'manga_list'  %}">Manga</a>
      </li>
    </ul>
    <span class="user">
      {% if request.user.is_authenticated %}
      <a href='{% url "profile_detail" request.user.id %}'>    <div class="base-img">
        {% if request.user.profile.photo %}
        <img src="/media/{{ request.user.profile.photo }}" >
        {% else %}
        <img src="{% static 'img/no-image.png' %}">
        {% endif %}
    </div></a>
      <a href='{% url "account_logout" %}?next={{request.path}}'>Logout</a>
      {% else %}
      <a href='{% url "account_login" %}?next={{request.path}}'>Log-in</a>
      <a href='{% url "account_signup" %}?next={{request.path}}'>Sign-up</a>
      {% endif %}
    </span>


    
  </div>



  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <script>
{% block script %}

{% endblock %}
</script>

</body>

</html>