{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link href='{% static "css/base.css" %}' rel="stylesheet">
</head>

<body>
  <div id="header">
    <span class="logo">My blog</span>
    <ul class="menu">
      <li {% if section == "blog" %}class="selected" {% endif %}>
        <a href="">Blog</a>
      </li>
      <li {% if section == "anime" %}class="selected" {% endif %}>
        <a href="{% url 'anime_list'  %}">Anime</a>
      </li>
      <li {% if section == "manga" %}class="selected" {% endif %}>
        <a href="{% url 'manga_list'  %}">Manga</a>
      </li>
    </ul>
    <span class="user">
      {% if request.user.is_authenticated %}
      Hello {{ request.user }},
      <a href='{% url "account_logout" %}'>Logout</a>
      {% else %}
      <a href='{% url "account_login" %}'>Log-in</a>
      {% endif %}
    </span>
   <!--<form class="form-inline mt-2 mt-md-0" action="{% url 'manga_list' %}" method="get">
      <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </form>
    -->
  </div>



  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>