{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Blog{% endblock title %}
{% block content %}
{% block search %}

{% endblock search %}
<hr>

<div class="post-wrap">
    {% for post in list %}
    <div class='post-item'>
        <div class="shadow">
            <a class='title' href="{% url 'post_detail' post.id %}">
                <span>{{ post.publish|date:" d M Y" }}</span>
                <span>{{ post.title }}</span>
            </a>
            
            {% if request.user.id == post.author %}
            <a class='title' href="{% url 'post_detail_change' post.id %}">
                <span>Change</span>
            </a>
            {% endif %}
        </div>
        <div class='cover'>
            <a class='test' href="{% url 'post_detail' post.id %}">
                {% if post.main_image %}
                <img class="mangaimg" src="/media/{{post.main_image}}" >
                {% endif %}
            </a>
        </div>
    </div>

    {% endfor %}
    <div class="pagination_main">
        {% include "components/pagination.html" %}
        </div>
</div>
{% endblock content %}