{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% load thumbnail %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}

<div class="detail-post">
    <span class="count">
        {{ total_views }} view{{ total_views|pluralize }}
       </span>
    <h2>{{ post.title}} </h2>
    <div class="post-img">
        <img src="/media/{{post.main_image}}">
    </div>
{% for block in content %}
    {% if block.cont.0.1 == 'text' %}
    <div class="text">
        {{ block.cont.0.0 | safe | center:"15"  | linebreaks}}
        </div>
    {% elif block.cont.0.1 == 'image' %}
    <div class="post-img">
        <a href="/media/{{ block.cont.0.0 }}" ><img src="/media/{{ block.cont.0.0 }}" ></a>
        </div>
    {% elif block.cont.0.1 == 'file' %}
    <p><a href="{{ block.cont.0.0 }}" class="button">Download file</a></p>
    {% elif block.cont.0.1 == 'video' %}
            {% video block.cont.0.0 "100% x 700" %}

    {% endif %}

{% endfor %}

</div>
{% endblock content %}
<script>


</script>
{% block domready %}
content=document.querySelector('#content')
const textnode = document.createTextNode("Water");
{% for block in post.contents.all %}
   content.appendChild({{block.item.render}})
    console.log({{block.type}})
{% endfor %}
console.log('333')
 {% endblock %}