{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% load thumbnail %}
{% load mptt_tags %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}

<div class="detail-post">
    <span class="count">
        {{ total_views }} view{{ total_views|pluralize }}
       </span>
    <h2>{{ post.title}} </h2>
    <div class="post-img">
        <img src="/media/{{post.main_image}}">
    </div>
{% for block in content %}
    {% if block.cont.0.1 == 'text' %}
    <div class="text">
        {{ block.cont.0.0 | safe | center:"15"  | linebreaks}}
        </div>
    {% elif block.cont.0.1 == 'image' %}
    <div class="post-img">
        <a href="/media/{{ block.cont.0.0 }}" ><img src="/media/{{ block.cont.0.0 }}" ></a>
        </div>
    {% elif block.cont.0.1 == 'file' %}
    <p><a href="{{ block.cont.0.0 }}" class="button">Download file</a></p>
    {% elif block.cont.0.1 == 'video' %}
            {% video block.cont.0.0 "100% x 700" %}

    {% endif %}

{% endfor %}
Comments
<hr>
<div class="comments">

{% recursetree comments %}
        <div id="{{node.id}}">
            <div class="comment-upper">
        <div class="base-img"><img src="/media/{{ node.author.profile.photo }}" ></div>
        <div class="comment-upper-info">
        <div class="">{{ node.author.username }}</div>
        <div>{{ node.created|date:"M d"}} {{ node.created|date:"H:i"}}</div>
            </div>
        </div>
        <div class="comment-content">{{node.content}}</div>
        {% if request.user.is_authenticated %}
        <button class="button" onclick="invoke_reply({{ node.id }})">Reply</button>
        {% if request.user == node.author %}
        <button class="button" onclick="delete_comment({{ node.id }})">Delete</button>
        {% endif %}
        {% endif %}
        {% if not node.os_leaf_node %}
        <div class="children">{{children}}</div>
        {% endif %}
    </div>
{% endrecursetree %}
</div>
<hr>
{% if request.user.is_authenticated %}
<div id="myDIV" >
    <form id="myForm" method="post">
      <h2>Create new comment</h2>
      {{ comment_form.as_p }}
      {% csrf_token %}
      <button type="submit" onclick="comment_submit(event)" >Submit</button>
    </form>
  </div>
</div>
{%  endif %}
{% endblock content %}

{% block script %}

function getCookie(name) { 
    let cookieValue=null; 
    if (document.cookie && document.cookie !=='' ) { 
        const cookies=document.cookie.split(';'); 
        for (let i=0; i < cookies.length; i++) { 
            const cookie=cookies[i].trim(); 
            // Does this cookie string begin with the name we want? 
            if (cookie.substring(0, name.length + 1)===(name + '=' )) { 
                cookieValue=decodeURIComponent(cookie.substring(name.length + 1)); 
                break; 
            } 
        } 
    } 
    return cookieValue; 
} 

const commentsConsumer=new WebSocket(
    'ws://'
    + window.location.host
    + '/post/'
    + '{{post.id}}'
    + '/'
)

function create_comment_node(data) {
    console.log(data['message']['parent'])
    let  comments = data['message']['parent']=='None'? document.querySelector('.comments') : document.getElementById(data['message']['parent']).querySelector('.children');
    let elem=document.createElement('div')
    elem.setAttribute('id',`${data['message']['id']}`)
    elem.innerHTML = `<div class="comment-upper">
        <div class="base-img"><img src="/media/${data['message']['author_image']}" ></div>
        <div class="comment-upper-info">
    <div class="">By ${data['message']['author']}</div>
    <div>${data['message']['created']}</div>
</div>
</div>
    <div class="comment-content">${data['message']['content']}</div>
    `
    if ('{{request.user}}' !== 'AnonymousUser') {
        elem.insertAdjacentHTML('beforeend',`<button class="button" onclick="invoke_reply(${data['message']['id']})">Reply</button>`)
    }
    if ('{{request.user.id}}' == data['message']['author_id']) {
        elem.insertAdjacentHTML('beforeend',`<button class="button" onclick="delete_comment(${data['message']['id']})">Delete</button>`)
    }
    elem.insertAdjacentHTML('beforeend',`<div class="children"></div>`)
    comments.appendChild(elem)
    formExit(); 
}

function delete_comment_node(data) {

    let com=document.getElementById(data['message']['id']);
    com.remove();
}
commentsConsumer.onopen = () => commentsConsumer.send(JSON.stringify({'type':'increment_views'}));

commentsConsumer.onmessage = function(e) {
    const data= JSON.parse(e.data)
    if (data['type']=='new_comment') {
        create_comment_node(data)
    }
    else if (data['type']=='delete_comment') {
        delete_comment_node(data)
    }
    else if (data['type']=='increment_views'){
        count=document.querySelector('.count')
        count.innerText = `${data['message']['count']} views`
    }
}


function formExit() {
    if (document.contains(document.getElementById("newForm"))) {
    document.getElementById("newForm").remove();
    }
  }

function invoke_reply(id) {
    if (document.contains(document.getElementById("newForm"))) { 
        if (document.getElementById("newForm").parentNode.parentNode.id==id) {
            return formExit();
        } else {
            formExit();
        }
      }
      const parent_id = document.getElementById(id);
      const children=parent_id.querySelector('.children')
      const placeholder = document.createElement("div");
        placeholder.innerHTML = `<form id="newForm" class="form-insert py-2" method="post"> \
            <div class="d-flex justify-content-between"><h2>Reply:</h2> \
            <select name="parent" class="d-none" id="id_parentt" hidden> \
            <option value=${id} selected=${id}></option> \
            </select> \
            <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
            {% csrf_token %} \
            <button type="submit" onclick="comment_submit(event,id)" >Submit</button> \
          </form>`;
      parent_id.insertBefore(placeholder,children)
}

function delete_comment(id) {
    let data = {}
    data={}
    data['comment_id']=id
    data['type']= 'delete_comment'
    commentsConsumer.send(JSON.stringify(
        data
    ))
}

function comment_submit(e, id ) {
    let comment_btn = id!== undefined ? document.querySelector('#newForm'):document.querySelector('#myDIV');
    e.preventDefault()
    let data = {}
    let content = comment_btn.querySelector('#id_content').value
    let parent = comment_btn.querySelector('#id_parentt')
    data['author']= {{request.user.id}}
    data['content']= content
    data['type']= 'new_comment'
    data['model_type']= 'post'
    if (parent) {
        parent = parent.options[parent.selectedIndex].value;
        data['parent']= parent
        }
    commentsConsumer.send(JSON.stringify(
        data
    ))
}


 {% endblock %} 