{% load dynamic_url %}
<div class="filter">
    <form action="{% dynamic_url type=model %}" id='filter_form' method="get" >
        <input
        type="search"
        name="q"
        placeholder="Search"
        class="search-input"
        
      />
        {% for name,queryset in filter.items %}
            <div class="filter_item">
                <div class="name_filter">{{name}}</div>
                <div class="item-list">
                    {% for item in queryset %}
                        <label >
                            <input name='{{name|lower}}'  value='{{item.name}}' type="checkbox">
                            <div class="item-list-name">
                            <span >{{item.name}}</span>
                            </div>
                        </label>  
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    <button class='filter_button' type="submit" >Submit</button>
    </form>
    </div>