{% extends 'base.html' %}
{% load static %}
{% load exist %}
{% load dynamic_url %}
{% load urlparams %}
{% load get_url_name %}
{% load thumbnail %}

{% block title %}{{ item.title__original_name  }}{% endblock title %}
{% block content %}


<div id='manga-detail'>
    <div class='main-info'>
        <div class="upper-image">
            {% if item.image__image %}
            <img src="/media/{{ item.image__image }}" alt="{{ item.title__original_name }}">
            {% else %}
            <img src="{% static 'img/no-image.png' %}" alt="{{ item.title__original_name}}">
            {% endif %}
        </div>
        <div class="title-block">
            <div class="title-block2">
                <div class="main-image">
                    {% if item.image__image %}
                        <img class='img2' src="/media/{{ item.image__image }}" alt="{{item.title__original_name }}">
                        {% else %}
                        <img class='img2' src="{% static 'img/no-image.png' %}" alt="{{ item.title__original_name }}">
                        {% endif %}
                </div>
                <div class='title'>
                    <h4 class="main-title">{{item.title__original_name }}</h4>
                    <h2>{{item.title__russian_name }}</h2>
                    <h1>{{item.title__english_name }}</h1>
                </div>
                <div class="tabs">
                    <a class="item" href="?tab=info">
                        <span>Info</span>
                    </a>
                    <a class="item" href="?tab=related">
                        <span>Related</span>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
    {% if tab == 'info' %}

    <div class="info">
        <div class="desc">
            <div class="name">Описание</div>
            <p>{{item.description}}</p>
        </div>
        {% if item.authors__author__name %}
        <div class="items">
            <div class="name">Автор</div>
            <div class="item-list">
                <a class='item' href="{% dynamic_url type=model %}{% urlparams author=item.authors__author__name %}"><span>{{ item.authors__author__name }}</span></a>
            </div>
        </div>
        {% endif %}
        {% if item.authors__artist__name %}
        <div class="items">
            <div class="name">Художник</div>
            <div class="item-list">
                <a class='item' href="{% dynamic_url type=model %}{% urlparams artist=item.authors__artist__name %}"><span>{{ item.authors__artist__name }}</span></a>
            </div>
        </div>
        {% endif %}
        {% if item.type__name %}
        <div class="items">
            <div class="name">Тип</div>
            <div class="item-list">
                
                <a class='item' href="{% dynamic_url type=model %}{% urlparams type=item.type__name %}"><span>{{ item.type__name }}</span></a>
            </div>
        </div>
        {% endif %}
    
        {% if item.demographic__name %}
        <div class="items">
            <div class="name">Демография</div>
            <div class="item-list">
                <a class='item' href="{% dynamic_url type=model %}{% urlparams demographic=item.demographic__name %}"><span>{{ item.demographic__name }}</span></a>
            </div>
        </div>
        {% endif %}
        {% if item.studios %}
        <div class="items">
            <div class="name">Студия</div>
            <div class="item-list">
                {% for name in item.studios %}
                <a class='item' href="{% dynamic_url type=model %}{% urlparams studio=name %}">
                    <span>
                        {{ name }}
                    </span>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if item.urls_list %}
        <div class="items">
            <div class="name">Links</div>
            <div class="item-list">
                {% for name in item.urls_list.0 %}
                {% if name %}
                <a class='item' href="{{name}}">
                    <span>
                        {{ name|get_url_name }}
                    </span>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if item.publishers %}
        <div class="items">
            <div class="name">Издатель</div>
            <div class="item-list">
                {% for name in item.publishers %}
                <a class='item' href="{% dynamic_url type=model %}{% urlparams publisher=name %}">
                    <span>
                        {{ name }}
                    </span>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if item.magazines %}
        <div class="items">
            <div class="name">Журнал</div>
            <div class="item-list">
                {% for name in item.magazines %}
                <a class='item' href="{% dynamic_url type=model %}{% urlparams magazine=name %}"><span>{{ name}}</span></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if item.genres %}
        <div class="items">
            <div class="name">Жанры</div>
            <div class="item-list">
                {% for name in item.genres %}
                <a class='item' href="{% dynamic_url type=model %}{% urlparams genre=name %}"><span>{{ name}}</span></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if item.themes %}
        <div class="items">
            <div class="name">Темы</div>
            <div class="item-list">
                {% for name in item.themes %}
                <a class='item' href="{% dynamic_url type=model %}{% urlparams theme=name %}"><span>{{ name}}</span></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if item.volumes or item.chapters %}
        <div class="items">
            <div class="name">Издано</div>
            <div class="item-list">
                <a class='item' ><span>{% if item.volumes  %}
                    {{ item.volumes}} томов 
                    {% endif %}
                    {% if item.chapters %}
                    {{ item.chapters}} главы
                    {% endif %}
                </span></a>
            </div>
        </div>
        {% endif %}
        {% if item.premiere %}
        <div class="items">
            <div class="name">Дата начала</div>
            <div class="item-list">
                <a class='item' ><span>
                    {{ item.premiere}}
                </span></a>
            </div>
        </div>
        {% endif %}
        {% if item.episodes %}
        <div class="items">
            <div class="name">Эпизоды</div>
            <div class="item-list">
                <a class='item' ><span>
                    {{ item.episodes}}
                </span></a>
            </div>
        </div>
        {% endif %}
        <div class="items">
            <div class="name">Оценка</div>
            <div class="item-list">
                <a class='item' ><span>
                    {% if item.score %}
                    {{ item.score}}
                    {% else %}
                    N/A
                    {% endif %}
                </span></a>
            </div>
        </div>

    </div>

    {% if  item.related_posts|exist %}
    <div class="related-blog">
        <div class="name">Блог</div>
        <div id='manga-list'>
            {% for item in item.related_posts %}
            <div class='manga-item'> 
                <a class='title' href="">
                <span>{{ item.1 }}</span>
                </a>
                <div class='cover'>
                <a class='test' href="{% url 'post_detail' item.0 %}">
                    {% if item.2 %}
                 
                    <img class="mangaimg" src="/media/{{  item.2 }}" alt="{{ item.2 }}">
              
                    {% else %}
                    <img class="mangaimg" src="{% static 'img/no-image.png' %}" alt="{{ item.1 }}">
                    {% endif %}
                </a>
            </div>
        </div>
            {% endfor %}
    </div>
    
</div>
{% endif %}
{% endif %}
{% if tab == 'related' %}
{% if  item.adaptations|exist %}
    <div class="related-blog">
        <div class="name">Adaptation</div>
        <div id='manga-list'>
            {% for item in item.adaptations %}
            <div class='manga-item'> 
                
                <a class='title' href="{% dynamic_url  type=item.3 id=item.0 %}{% urlparams tab='info' %}">
                <span>{{ item.2  }}</span>
                </a>
                <div class='cover'>
                <a class='test' href="{% dynamic_url  type=item.3 id=item.0 %}{% urlparams tab='info' %}">
                    {% if item.1 %}
                    <img class="mangaimg" src="/media/{{  item.1 }}" alt="{{ item.title }}">

                    {% else %}
                    <img class="mangaimg" src="{% static 'img/no-image.png' %}" alt="{{ item.title }}">
                    {% endif %}
                </a>
            </div>
        </div>
            {% endfor %}
    </div>
    
</div>
{% endif %}

{% if  item.based_ons|exist %}
    <div class="related-blog">
        <div class="name">Based on</div>
        <div id='manga-list'>
            {% for item in item.based_ons %}
            <div class='manga-item'> 
                <a class='title' href="{% dynamic_url  type=item.3 id=item.0 %}{% urlparams tab='info' %}">
                <span>{{ item.2  }}</span>
                </a>
                <div class='cover'>
                <a class='test' href="{% dynamic_url  type=item.3 id=item.0 %}{% urlparams tab='info' %}">
                    {% if item.1 %}
                    <img class="mangaimg" src="/media/{{  item.1 }}" alt="{{ item.title }}">

                    {% else %}
                    <img class="mangaimg" src="{% static 'img/no-image.png' %}" alt="{{ item.title }}">
                    {% endif %}
                </a>
            </div>
        </div>
            {% endfor %}
    </div>
    
</div>
{% endif %}

{% if  item.sequels|exist %}
<div class="related-blog">
    <div class="name">Sequel</div>
    <div id='manga-list'>
        {% for item in item.sequels %}
        <div class='manga-item'> 
            <a class='title' href="{% dynamic_url  type=model id=item.0 %}{% urlparams tab='info' %}">
            <span>{{ item.2  }}</span>
            </a>
            <div class='cover'>
            <a class='test' href="{% dynamic_url  type=model id=item.0 %}{% urlparams tab='info' %}">
                {% if item.1 %}
                <img class="mangaimg" src="/media/{{  item.1 }}" alt="{{ item.title }}">
                {% else %}
                <img class="mangaimg" src="{% static 'img/no-image.png' %}" alt="{{ item.title }}">
                {% endif %}
            </a>
        </div>
    </div>
        {% endfor %}
</div>

</div>
{% endif %}

{% if  item.prequels|exist %}
<div class="related-blog">
    <div class="name">Prequel</div>
    <div id='manga-list'>
        {% for item in item.prequels %}
        <div class='manga-item'> 
            <a class='title' href="{% dynamic_url  type=model id=item.0 %}{% urlparams tab='info' %}">
            <span>{{ item.2  }}</span>
            </a>
            <div class='cover'>
            <a class='test' href="{% dynamic_url  type=model id=item.0 %}{% urlparams tab='info' %}">
                {% if item.1 %}

                <img class="mangaimg" src="/media/{{  item.1 }}" alt="{{ item.title }}">

                {% else %}
                <img class="mangaimg" src="{% static 'img/no-image.png' %}" alt="{{ item.title }}">
                {% endif %}
            </a>
        </div>
    </div>
        {% endfor %}
</div>

</div>
{% endif %}

{% endif %}
{% include 'components/comments.html' %}
{% endblock content %}

{% block script %}

function getCookie(name) { 
    let cookieValue=null; 
    if (document.cookie && document.cookie !=='' ) { 
        const cookies=document.cookie.split(';'); 
        for (let i=0; i < cookies.length; i++) { 
            const cookie=cookies[i].trim(); 
            // Does this cookie string begin with the name we want? 
            if (cookie.substring(0, name.length + 1)===(name + '=' )) { 
                cookieValue=decodeURIComponent(cookie.substring(name.length + 1)); 
                break; 
            } 
        } 
    } 
    return cookieValue; 
} 

const commentsConsumer=new WebSocket(
    'ws://'
    + window.location.host
    + '/{{model}}/'
    + '{{item.id}}'
    + '/'
)

function create_comment_node(data) {
    let  comments = data['message']['parent']=='None'? document.querySelector('.comments') : document.getElementById(data['message']['parent']).querySelector('.children');
    let elem=document.createElement('div')
    elem.setAttribute('id',`${data['message']['id']}`)
    elem.innerHTML = `<div class="comment-upper">
        <div class="base-img"><img src="/media/${data['message']['author_image']}" ></div>
        <div class="comment-upper-info">
    <div class="">By ${data['message']['author']}</div>
    <div>${data['message']['created']}</div>
</div>
</div>
    <div class="comment-content">${data['message']['content']}</div>
    `
    if ('{{request.user}}' !== 'AnonymousUser') {
        elem.insertAdjacentHTML('beforeend',`<button class="button" onclick="invoke_reply(${data['message']['id']})">Reply</button>`)
    }
    if ('{{request.user.id}}' == data['message']['author_id']) {
        elem.insertAdjacentHTML('beforeend',`<button class="button" onclick="delete_comment(${data['message']['id']})">Delete</button>`)
    }
    elem.insertAdjacentHTML('beforeend',`<div class="children"></div>`)
    comments.appendChild(elem)
    formExit(); 
}

function delete_comment_node(data) {

    let com=document.getElementById(data['message']['id']);
    com.remove();
}


commentsConsumer.onmessage = function(e) {
    const data= JSON.parse(e.data)
    if (data['type']=='new_comment') {
        create_comment_node(data)
    }
    else if (data['type']=='delete_comment') {
        delete_comment_node(data)
    }
    else if (data['type']=='increment_views'){
        count=document.querySelector('.count')
        count.innerText = `${data['message']['count']} views`
    }
}


function formExit() {
    if (document.contains(document.getElementById("newForm"))) {
    document.getElementById("newForm").remove();
    }
  }

function invoke_reply(id) {
    if (document.contains(document.getElementById("newForm"))) { 
        if (document.getElementById("newForm").parentNode.parentNode.id==id) {
            return formExit();
        } else {
            formExit();
        }
      }
      const parent_id = document.getElementById(id);
      const children=parent_id.querySelector('.children')
      const placeholder = document.createElement("div");
        placeholder.innerHTML = `<form id="newForm" class="form-insert py-2" method="post"> \
            <div class="d-flex justify-content-between"><h2>Reply:</h2> \
            <select name="parent" class="d-none" id="id_parentt" hidden> \
            <option value=${id} selected=${id}></option> \
            </select> \
            <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
            {% csrf_token %} \
            <button type="submit" onclick="comment_submit(event,id)" >Submit</button> \
          </form>`;
      parent_id.insertBefore(placeholder,children)
}

function delete_comment(id) {
    let data = {}
    data={}
    data['comment_id']=id
    data['type']= 'delete_comment'
    commentsConsumer.send(JSON.stringify(
        data
    ))
}

function comment_submit(e, id ) {
    let comment_btn = id!== undefined ? document.querySelector('#newForm'):document.querySelector('#myDIV');
    e.preventDefault()
    let data = {}
    let content = comment_btn.querySelector('#id_content').value
    let parent = comment_btn.querySelector('#id_parentt')
    data['author']= {{request.user.id}}
    data['content']= content
    data['type']= 'new_comment'
    data['model_type']= '{{model}}'
    if (parent) {
        parent = parent.options[parent.selectedIndex].value;
        data['parent']= parent
        }
    commentsConsumer.send(JSON.stringify(
        data
    ))
}


 {% endblock %} 