{% extends 'base.html' %}
{% load static %}
{% load dynamic_url %}
{% load urlparams %}
{% load thumbnail %}
{% block title %} {{ model }} {% endblock title %}
{% block content %}
{% block search %}
{% endblock search %}
<div class="filter-wrap">

  
  <form class='search-form' action="{% dynamic_url type=model %}" method="get">
    <input
      type="search"
      name="q"
      placeholder="Search"
      class="search-input"
    />
  </form>

  <button class='filter-button' type="button">
      <span>Filter</span>
  </button>

{% include "components/filter.html" %}

</div>
<hr>
<div id='manga-list'>
{% for item in list %}

<div class='manga-item'> 
    <a class='title url-detail' href="{% dynamic_url type=model id=item.id %}">
    <span>{{ item.title__original_name }}</span>
    </a>
    <div class='cover'>
    <a class='test url-detail' href="{% dynamic_url type=model id=item.id %}{% urlparams tab='info' %}">
        {% if item.image %}
        {% thumbnail item.image "600x600" format="PNG" as im  %}
        <img class="mangaimg" src="{{  im.url }}" alt="{{ item.title.original_name }}">
        {% endthumbnail %}
        {% else %}
        <img class="mangaimg" src="{% static 'img/no-image.png' %}" alt="{{ item.title.original_name }}">
        {% endif %}
    </a>
</div>
</div>

{% endfor %}
</div>
{% endblock content %}
{% block script %}

    let filter_button =  document.getElementsByClassName("filter-button");
    filter_button[0].addEventListener('click',function(e) {
      let body =  document.getElementsByTagName("body")[0]
      let div = document.createElement('div');
      div.classList.add("popup")
      body.appendChild(div)
      document.getElementsByClassName("filter")[0].style.display = "block";
    })
    
    document.addEventListener('mouseup', function(e) {
      let container = document.getElementsByClassName("filter")[0];
      if (!container.contains(e.target)) {
        let body =  document.getElementsByTagName("body")[0];
        let popup = document.getElementsByClassName("popup")[0];
        if (typeof popup !== 'undefined') {
        popup.remove();
        }
          container.style.display = 'none';
      }
  });
const params = new URLSearchParams(window.location.search);
const filter_list = ['genre','theme','demographic','type','publisher'];
filter_list.forEach(name=> {
    let a=params.getAll(name)
    let list_items=document.getElementsByName(name);
    for(i=0;i<(list_items.length);i++){
        if(a.includes(list_items[i].value)){
            list_items[i].checked=true;
        }
      }
})
let search_form =  document.getElementsByClassName("search-form")[0];

{% endblock %}