{% extends 'base.html' %}
{% load static %}
{% load dynamic_url %}
{% load urlparams %}
{% load thumbnail %}
{% block title %} {{ model }} {% endblock title %}
{% block content %}
{% block search %}
{% endblock search %}
<div class="filter-wrap">

  
  <form class='search-form' action="{% dynamic_url type=model %}" method="get">
    <input
      type="search"
      name="q"
      placeholder="Search"
      class="search-input"
    />
    <div class="filter">
      {% for name,queryset in filter.items %}
          <div class="filter_item">
              <div class="name_filter">{{name}}</div>
              <div class="item-list">
                  {% for item in queryset %}
                      <label >
                          <input name='{{name|lower}}'  value='{{item.name}}' type="checkbox">
                          <div class="item-list-name">
                          <span >{{item.name}}</span>
                          </div>
                      </label>  
                  {% endfor %}
              </div>
          </div>
      {% endfor %}
  <button class='filter_button' type="submit" >Submit</button>
  <button class='filter_button' type="reset" >Reset</button>
  </div>
</form>

  <button class='filter-button' type="button">
      <span>Filter</span>
  </button>

  
</div>
<hr>
<div id='manga-list'>
{% for item in list %}

<div class='manga-item'> 
    <a class='title url-detail' href="{% dynamic_url type=model id=item.id %}{% urlparams tab='info' %}">
    <span>{{ item.title__original_name }}</span>
    </a>
    <div class='cover'>
    <a class='test url-detail' href="{% dynamic_url type=model id=item.id %}{% urlparams tab='info' %}">
        {% if item.image__thumbnail %}

        <img class="mangaimg" src="/media/{{  item.image__thumbnail }}" alt="{{ item.title.original_name }}">

        {% else %}
        <img class="mangaimg" src="{% static 'img/no-image.png' %}" alt="{{ item.title.original_name }}">
        {% endif %}
    </a>
</div>
</div>

{% endfor %}

</div>
{% include "components/pagination.html" %}

{% endblock content %}
{% block script %}

    let filter_button =  document.getElementsByClassName("filter-button");
    filter_button[0].addEventListener('click',function(e) {
      let body =  document.getElementsByTagName("body")[0]
      let div = document.createElement('div');
      div.classList.add("popup")
      body.appendChild(div)
      document.getElementsByClassName("filter")[0].style.display = "block";
    })
    
    document.addEventListener('mouseup', function(e) {
      let container = document.getElementsByClassName("filter")[0];
      if (!container.contains(e.target)) {
        let body =  document.getElementsByTagName("body")[0];
        let popup = document.getElementsByClassName("popup")[0];
        if (typeof popup !== 'undefined') {
        popup.remove();
        }
          container.style.display = 'none';
      }
  });
const params = new URLSearchParams(window.location.search);
const filter_list = ['genre','theme','demographic','type','publisher','studio'];
filter_list.forEach(name=> {
    let a=params.getAll(name)
    console.log(a)
    let list_items=document.getElementsByName(name);
    for(i=0;i<(list_items.length);i++){
        if(a.includes(list_items[i].value)){
            list_items[i].checked=true;
        }
      }
})
{% if query %}
let search_form =  document.getElementsByClassName("search-form")[0];
let search_input=search_form.getElementsByClassName("search-input")[0];
let search_field ='{{query}}'
search_input.value=search_field
{% endif %}
{% endblock %}