{% extends "base.html" %}
{% load static %}
{% load embed_video_tags %}
{% load cache %}
{% load thumbnail %}
{% block title %}
{% if object %}
Edit content {{ object }}
{% else %}
Add new content
{% endif %}
{% endblock %}
{% block content %}


<div class="module">
    <div class="detail-post">
    {% if form|length > 1 %}
    {% for instance, contact in form.items %}
    {% if instance != 'main' %}
    <div class='item-change' data-order="{{instance.order}}" draggable="true">
    <div class="content-types">
        <a class="del" data-id={{instance.id}}><img src="{% static 'img/del.png' %}"></a>
        <a class="plus"><img src="{% static 'img/plus.png' %}"></a>
        <a class='item-create' href="{% url 'module_content_create' object.id 'text' instance.order %}">
            Text</a>
        <a class='item-create' href="{% url 'module_content_create' object.id 'image' instance.order %}">
            Image</a>
        <a class='item-create' href="{% url 'module_content_create' object.id   'video' instance.order %}">
            Video</a>
    </div>
        {% if instance.item.get_model_name == 'image' %}
        <div class="img-main">
            <div class="post-img">
                <a  href="/media/{{contact.image.value}}">
                {% thumbnail contact.image.value "1500"  quality=99 as im  %}
                <img src="/media/{{im}}">
                {% endthumbnail %}
                </a>
            </div>
            <form action="{% url 'module_content_update' object.id instance.item.get_model_name instance.item.id %}" method="post" enctype="multipart/form-data">
                <input class="custom-file-input" type="file" name="image" accept="image/*" id="id_image">
                {% csrf_token %}
            </form>
        </div>
        {% elif instance.item.get_model_name == 'text' %}
            <form action="{% url 'module_content_update' object.id instance.item.get_model_name instance.item.id %}" method="post" enctype="multipart/form-data">
                {{ contact.text}}
                {% csrf_token %}
            </form>
        {% elif instance.item.get_model_name == 'video' %}
        <div class="video-main">
            {% video contact.video.value "100% x 700" %}
            <form action="{% url 'module_content_update' object.id instance.item.get_model_name instance.item.id %}" method="post" enctype="multipart/form-data">
                {{ contact.video }}
                {% csrf_token %}
            </form>
            </div>
        {% endif %}
        </div>
    {% else %}
    <div class="edit-title ">
        <form action="" method="post" enctype="multipart/form-data">
            {{contact.title}}
            {% csrf_token %}
        </form>
    </div>
    <div class="img-main">
        <div class="post-img">
            <a  href="/media/{{contact.main_image.value}}">
            {% thumbnail contact.main_image.value "1500"  quality=99 as im  %}
            <img src='/media/{{im}}'>
            {% endthumbnail %}
            </a>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <input class="custom-file-input" type="file" name="main_image" accept="image/*" id="id_main_image">
            {% csrf_token %}
        </form>
        </div>
        <div class="related">
        <form action="" method="post" enctype="multipart/form-data">
            {{contact.related_to}}
            {% csrf_token %}
        </form>
        </div>
    {% endif %}
    {% endfor %}

    {% else %}
        <div class="'edit-title">
    <form action="" method="post" enctype="multipart/form-data">
        {{form.main.title}}
        {% csrf_token %}
    </form>
</div>
    <div class="post-img">
            <a  href="/media/{{form.main.main_image.value}}">
            {% thumbnail form.main.main_image.value "1500"  quality=99 as im  %}
            <img src='/media/{{im}}'>
            {% endthumbnail %}
            </a>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        <input class="custom-file-input" type="file" name="image" accept="image/*" id="id_image">
        {% csrf_token %}
    </form>
    <form action="" method="post" enctype="multipart/form-data">
        {{form.main.related_to}}
        {% csrf_token %}
    </form>
    <div class="content-types">
        <a class="plus"><img src="{% static 'img/plus.png' %}"></a>
        <a href="{% url 'module_content_create' object.id 'text' 0 %}">
            Text</a>
        <a href="{% url 'module_content_create' object.id 'image' 0 %}">
            Image</a>
        <a href="{% url 'module_content_create' object.id   'video' 0 %}">
            Video</a>
    </div>
    <p><input type="submit" value="Save content"></p>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}



function getCookie(name) { 
    let cookieValue=null; 
    if (document.cookie && document.cookie !=='' ) { 
        const cookies=document.cookie.split(';'); 
        for (let i=0; i < cookies.length; i++) { 
            const cookie=cookies[i].trim(); 
            // Does this cookie string begin with the name we want? 
            if (cookie.substring(0, name.length + 1)===(name + '=' )) { 
                cookieValue=decodeURIComponent(cookie.substring(name.length + 1)); 
                break; 
            } 
        } 
    } 
    return cookieValue; 
} 

const draggable = document.querySelectorAll('.item-change')
let dragStartIndex;
let dragEndIndex;

function dragStart() {

  dragStartIndex = this.closest('.item-change')

  }
function dragEnter() {
    // console.log('Event: ', 'dragenter');


    this.classList.add('over');
  }
  
  function dragLeave() {
    // console.log('Event: ', 'dragleave');
    this.classList.remove('over');
  }
  
  function dragOver(e) {
    // console.log('Event: ', 'dragover');
    e.preventDefault();
  }
  
  function dragDrop() {
    // console.log('Event: ', 'drop');
    dragEndIndex = this

    swapItems(dragStartIndex, dragEndIndex);
    this.classList.remove('over');
  }
  function swapItems(fromIndex, toIndex) {
    const first_order=fromIndex.getAttribute('data-order');
    const sec_order=toIndex.getAttribute('data-order');
    let data={};
    data[fromIndex.querySelector('.del').getAttribute('data-id')]=toIndex.getAttribute('data-order')
    data[toIndex.querySelector('.del').getAttribute('data-id')]=fromIndex.getAttribute('data-order')
    data1=JSON.stringify(data)
    url='http://127.0.0.1:8000/blog/content/order/'
    const csrftoken=getCookie('csrftoken'); 
    let switch_url=fetch(url, { 
        method: 'POST' , 
        body:data1, 
        mode:'cors',
        headers:{'Content-Type':'application/json', 
                'X-CSRFToken':'{{csrf_token}}'}
    }).then(response=> {
    if (!response.ok) throw Error(response.statusText);
    return response.json();
    });
    const first=Array.from(toIndex.children);
    const second=Array.from(fromIndex.children);
    fromIndex.replaceChildren(...first);
    toIndex.replaceChildren(...second);
  }
draggable.forEach(item => {
    item.addEventListener('dragstart', dragStart);
    item.addEventListener('dragover', dragOver);
    item.addEventListener('drop', dragDrop);
    item.addEventListener('dragenter', dragEnter);
    item.addEventListener('dragleave', dragLeave);
  });

let textarea_elements=document.getElementsByTagName('textarea')

Object.keys(textarea_elements).forEach(function(e) {
    textarea_elements[e].style.height = 'auto';
    textarea_elements[e].style.height = textarea_elements[e].scrollHeight +100+ 'px';
});
for (let i=0; i < textarea_elements.length; i++) {
    textarea_elements[i].addEventListener('input', function (e) { 
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    })
}

let parent = document.querySelector('.detail-post').getElementsByTagName('form')

let forms = parent

for (let i=0; i < forms.length; i++) {
    forms[i].addEventListener('change', function (e) { 
    this.submit()
    })
}

let links = document.querySelector('.post-img').getElementsByTagName('a')
for (let i=0; i < links.length; i++) {
    links[i].addEventListener('click', function (e) { 
    e.preventDefault()
    })
}

let elements = document.getElementsByClassName(" del") 
for (let i=0; i < elements.length; i++) {
    elements[i].addEventListener('click', function (e) { 
    const csrftoken=getCookie('csrftoken'); 
    let id1=this.getAttribute('data-id'); 
    data=JSON.stringify({ id:id1}) ;
    let url='http://127.0.0.1:8000/blog/content/' + id1 +'/delete/' ;
    let source_url=fetch(url, { 
        method: 'POST' , 
        data:data, 
        headers:{"X-CSRFToken": csrftoken }
    }).then(response=> {
    if (!response.ok) throw Error(response.statusText);
    this.parentElement.parentElement.remove()
    return response.json();
    })
    });
    }


    {% endblock %}